<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQL_SERVER_CON_STRING"
        connectionString="Data Source=WARIS-PC\SQLEXPRESS;Initial Catalog=Drive_DB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="SQL_SERVER_TEST_DB_CON_STRING"
          connectionString="Data Source=WARIS-PC\SQLEXPRESS;Initial Catalog=Drive_Test_DB;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>