@{
    ViewBag.Title = "Home";
}

<div class="mdl-grid justify-center">
    <div class="mdl-cell mdl-cell--middle mdl-cell--9-col">
        <div id="breadcrumbs">
            <span class="breadcrumb-item mdl-typography--headline" folder-id="-1">Home</span>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--middle mdl-cell--3-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent float-right" name="download-meta">
            Download Meta
        </button>
    </div>
</div>

<div id="folders" class="mdl-grid"></div>

<div id="files" class="mdl-grid"></div>

<button id="create-new-folder" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">
        create_new_folder
    </i>
</button>
<button id="insert-new-file" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">
        insert_drive_file
    </i>
</button>

<dialog class="mdl-dialog" id="create-new-folder-dialog">
    <h4 class="mdl-dialog__title">New Folder</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="new-folder-name">
            <label class="mdl-textfield__label" for="sample1">Folder Name</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" onclick="Folder.addNewFolder(); global.addNewFolderDialog.close();">Add</button>
        <button type="button" class="mdl-button close">Cancel</button>
    </div>
</dialog>

<dialog class="mdl-dialog" id="insert-new-file-dialog">
    <h4 class="mdl-dialog__title">Upload File</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
            <input class="mdl-textfield__input" placeholder="File" type="text" id="new-file-name" readonly />
            <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                <i class="material-icons">attach_file</i><input type="file" id="new-file">
            </div>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" onclick="File.uploadFile(); global.insertNewFileDialog.close();">Upload</button>
        <button type="button" class="mdl-button close">Cancel</button>
    </div>
</dialog>

<dialog class="mdl-dialog" id="delete-file-dialog">
    <h4 class="mdl-dialog__title">Delete File</h4>
    <div class="mdl-dialog__content">
        Are you sure you want to delete <span id="file-name"></span>? 
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" id="delete-file-button" onclick="File.deleteFile($(this).attr('file-id')); global.deleteFileDialog.close();">Delete</button>
        <button type="button" class="mdl-button close">Cancel</button>
    </div>
</dialog>

<dialog class="mdl-dialog" id="delete-folder-dialog">
    <h4 class="mdl-dialog__title">Delete Folder</h4>
    <div class="mdl-dialog__content">
        Are you sure you want to delete <span id="folder-name"></span>?
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" id="delete-folder-button" onclick="Folder.deleteFolder($(this).attr('folder-id')); global.deleteFolderDialog.close();">Delete</button>
        <button type="button" class="mdl-button close">Cancel</button>
    </div>
</dialog>

@section scripts {
    @Scripts.Render("~/bundles/uglipop")

    <script>

        //Load folders on page load
        $(document).ready(function () {
            Folder.getFoldersFromServer();


            //Register dialog to add new folder
            global.addNewFolderDialog = document.querySelector("#create-new-folder-dialog");
            global.addNewFolderShowDialogButton = document.querySelector('#create-new-folder');
            if (!global.addNewFolderDialog.showModal) {
                dialogPolyfill.registerDialog(global.addNewFolderDialog);
            }
            global.addNewFolderShowDialogButton.addEventListener('click', function () {
                global.addNewFolderDialog.showModal();
            });
            global.addNewFolderDialog.querySelector('.close').addEventListener('click', function () {
                global.addNewFolderDialog.close();
            });

            //Register dialog to add new file
            document.getElementById("new-file").onchange = function () {
                document.getElementById("new-file-name").value = this.files[0].name;
            };

            global.insertNewFileDialog = document.querySelector("#insert-new-file-dialog");
            global.insertNewFileShowButton = document.querySelector('#insert-new-file');
            if (!global.insertNewFileDialog.showModal) {
                dialogPolyfill.registerDialog(global.insertNewFileDialog);
            }
            global.insertNewFileShowButton.addEventListener('click', function () {
                global.insertNewFileDialog.showModal();
            });
            global.insertNewFileDialog.querySelector('.close').addEventListener('click', function () {
                global.insertNewFileDialog.close();
            });

            //Register dialog to delete file
            global.deleteFileDialog = document.querySelector("#delete-file-dialog");
            global.deleteFileShowButton = $('.show-delete-file-dialog');
            if (!global.deleteFileDialog.showModal) {
                dialogPolyfill.registerDialog(global.deleteFileDialog);
            }
            $(document).on('click', '.show-delete-file-dialog', function() {
                $("#file-name").text($(this).attr("file-name"));
                $("#delete-file-button").attr("file-id", $(this).attr("file-id"));
                global.deleteFileDialog.showModal();
            });
            global.deleteFileDialog.querySelector('.close').addEventListener('click', function () {
                global.deleteFileDialog.close();
            });

            //Register dialog to delete folder
            global.deleteFolderDialog = document.querySelector("#delete-folder-dialog");
            global.deleteFolderShowButton = $('.show-delete-folder-dialog');
            if (!global.deleteFolderDialog.showModal) {
                dialogPolyfill.registerDialog(global.deleteFolderDialog);
            }
            $(document).on('click', '.show-delete-folder-dialog', function () {
                $("#folder-name").text($(this).attr("folder-name"));
                $("#delete-folder-button").attr("folder-id", $(this).attr("folder-id"));
                global.deleteFolderDialog.showModal();
            });
            global.deleteFolderDialog.querySelector('.close').addEventListener('click', function () {
                global.deleteFolderDialog.close();
            });

            //Register single click event on a breadcrumb
            $(document).on("click", ".breadcrumb-item", function () {
                global.currentFolderId = $(this).attr("folder-id");

                var items = $("#breadcrumbs .breadcrumb-item");

                for (var i = items.length - 1 ; i > -1; i--) {
                    var item = $(items[i]);
                    var id = item.attr("folder-id");

                    if (id == global.currentFolderId)
                        break;

                    $(item).remove();
                }

                Folder.getFoldersFromServer();
            });


            $(document).on("click", ".download-file", function (e) {
                File.downloadFile($(this).attr("file-id"));
            });

            $("button[name=download-meta]").click(function () { Folder.downloadMeta(global.currentFolderId); });

            $(document).on("dblclick", ".folder", function (e) {
                Folder.navigateTo($(e.target).closest(".folder"));
            });

        });
    </script>


    <script id="folder-card" type="text/x-handlebars-template">
        <div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--middle mdl-shadow--2dp mdl-folder-grid">
            <div class="mdl-cell mdl-cell--2-col">
                <div class="mdl-card__media">
                    <i class="material-icons">folder</i>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--10-col">
                <div class="folder mdl-folder-card mdl-card" folder-id="{{Id}}" folder-name="{{Name}}">
                    <div class="mdl-card__title">
                        <div class="mdl-typography--headline">{{Name}}</div>
                    </div>
                    <div class="mdl-card__supporting-text mdl-grid justify-center">
                        <div class="mdl-cell mdl-cell--5-col mdl-cell--middle">
                            {{CreatedOn}}
                        </div>
                        <div class="mdl-cell mdl-cell--7-col mdl-cell--middle">
                            <button class="mdl-button mdl-js-button mdl-button--icon show-delete-folder-dialog" folder-name="{{Name}}" folder-id="{{Id}}">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="file-card" type="text/x-handlebars-template">
        <div class="mdl-cell mdl-cell--middle">
            <div class="mdl-file-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">{{fileName}}</h2>
                </div>
                <div class="mdl-card__media">
                    <img src="/UploadedFiles/{{Name}}-thumb.png">
                </div>
                <div class="mdl-card__supporting-text">
                    Uploaded On: {{UploadedOn}}
                </div>
                <div class="mdl-card__actions">
                    <button class="mdl-button mdl-js-button float-right mdl-button--icon show-delete-file-dialog" file-id="{{Id}}" file-name="{{fileName}}">
                        <i class="material-icons">delete</i>
                    </button>
                    <button class="mdl-button mdl-js-button float-right mdl-button--icon download-file" file-id="{{Id}}">
                        <i class="material-icons">get_app</i>
                    </button>
                </div>
            </div>

        </div>
    </script>
}



